<div class="business-photo" style="background-image: url(<%= business.escape('photo_url') %>)">
</div>
<div class="business-info">
  <a href="#businesses/<%= business.id %>">
    <b><%= business.escape('name') %></b>
  </a>
  <img src="https://s3-us-west-1.amazonaws.com/lunchin/assets/<%= business.escape('average_rating') %>stars.png"
       alt="<%= business.escape('average_rating') %> stars"
       class="small-rating-image"/>
  <ul>
    <li><%= business.escape('location') %></li>
    <li><%= business.escape('distance') %> miles away</li>
  </ul>
</div>
