<div class='row'>
  <h1 class='col-md-12'><%= business.escape('name') %></h1>
</div>

<div class='row'>
  <div class='col-md-12'>
    <img src="https://s3-us-west-1.amazonaws.com/lunchin/assets/<%= business.escape('average_rating') %>stars.png"
         alt="<%= business.escape('average_rating') %> stars"
         class="rating-image"/>
  </div>
</div>

<div class='row'>
  <div class='col-md-4'>
    <img src='<%= business.escape('photo_url') %>' class='img-responsive img-rounded'/>
  </div>
  <div class='openings-widget'>
  </div>
</div>

<div class='row review-button-row'>
  <div class='col-md-12'>
    <a
      <% if(signedIn) { %>
        href="/#businesses/<%= business.escape('id') %>/review"
      <% } else { %>
        href="/session/new"
      <% } %>
      class="btn-lg btn-primary review-button">Write a Review</a>
  </div>
</div>

<div class="reviews row">
</div>
