<!DOCTYPE html>
<html>
<head>
  <title>Lunchin'</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<% if flash.now[:errors] %>
  <ul>
  <% flash.now[:errors].each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
<% end %>

<%= yield %>

<% if Rails.env.production? %>
  <% api_key = "key=AIzaSyA4UXxW0588nQGEFjHbmqQSJdy-1HKm9RU" %>
<% else %>
  <% api_key = '' %>
<% end %>

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?<%= api_key %>"></script>

</body>
</html>
